<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Picture Quiz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div id="app" class="app">
  <section v-show="!askedForResults">  
    <div v-if="!isIdle" class="progress">{{currentIndex+1}} / {{total}}</div>
    <transition name="fade" mode="out-in">
      <header v-if="isIdle">
        <button type="button" @click="start">Start!</button>
      </header>
      <div class="main-ctnr" v-else>
        <div>
          <hexquestion class="hex" :q="question" :answers="answers" @played="setAnswerDisable"></hexquestion>
          <answers class="answers" :v="v" :q="question" :answers="answers" @answered="go" :disabled="{disabledQuestion: disabled, disabledAnswer: disabledAnswer}"></answers>
        </div>
        <div>
          <transition name="fade">
            <button v-show="shouldShowNext" type="button" @click="displayNext">Next</button>
          </transition>
          <transition name="fade">
            <button v-show="allDone" type="button" @click="showResults">Results</button>
          </transition>
        </div>
      </div>
    </transition>
  </section>
  <transition name="fade2">
    <section class="score" v-show="askedForResults">
      <h1>Your Result:</h1>
      <finalresults :finalpercentage="finalPercentage"></finalresults>
      <button type="button" @click="playAgain">Start Again</button>
    </section>
  </transition>
</div>
<script type="text/x-template" id="finalresults">
 <div>
   <p>{{finalpercentage}}</p>
  </div>
</script>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>
</body>
</html>