<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Colorzzzz - quiz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Bangers:400|PT+Mono:400&display=swap" rel="stylesheet"><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app" class="app">
  <section v-show="!askedForResults">  
    <div v-if="!isIdle" class="progress">{{currentIndex+1}} / {{total}}</div>
    <h1>Colorzzzz</h1>
    <transition name="fade" mode="out-in">
      <header v-if="isIdle">
        
        <button type="button" @click="start">Let's Start!</button>

        
      </header>
      <div class="main-ctnr" v-else>
        <div>
          
          <hexquestion class="hex" :q="question" :answers="answers"></hexquestion>
          <answers class="answers" :v="v" :q="question" :answers="answers" @answered="go" :disabled="disabled"></answers>
        </div>
        <div>
          <transition name="fade">
            <button v-show="shouldShowNext" type="button" @click="displayNext">Next</button>
          </transition>
          <transition name="fade">
            <button v-show="allDone" type="button" @click="showResults">Results</button>
          </transition>
          <transition name="fade">
            <div :class="['why', answer]" v-if="isAnswered" v-html="why"></div>
          </transition>
        </div>
      </div>
    </transition>
  </section>
  <transition name="fade2">
    <section class="score" v-show="askedForResults">
      <h1>Your Result:</h1>
      <finalresults :finalpercentage="finalPercentage"></finalresults>
      <button type="button" @click="playAgain">Play Again</button>
    </section>
  </transition>
</div>

<script type="text/x-template" id="finalresults">
 <div>
   <p>{{finalpercentage}}</p>
  </div>
</script>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>


<!-- 
  I need this code modified: https://codepen.io/pehaa/pen/KKpmGzY

1. 
2. Answer options need to be an image (350x350) instead of the color boxes
3. Each question should have an Audio auto played.
4. 
5. 

plus other minor color changes etc.

 -->



